* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px !important;
}

div {
    word-wrap: break-word;
    line-height: 1.25rem;
}

.chat-column {
    height: 100%;
    padding: 0.9375rem 0 0.625rem 0;
    margin: auto;
    text-align: left;
    min-width: 9.375rem;
}

#chat {
    padding-bottom: 70px !important;
    margin: 0.75rem;
    padding: 10px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 60vh;
}

.message-inner {
    opacity: 0;
    opacity: 1;
    margin-top: 0.9375rem;
}

.from-user {
    text-align: right;
}

.from-user .message-inner {
    position: relative;
    color: #fff;
    letter-spacing: 0.015rem;
    line-height: 1.3125rem;
    background: #000;
    border-radius: 1.25rem;
    border-bottom-right-radius: 0;
    text-align: left;
    display: inline-block;
    margin-left: 2.5rem;
    min-width: 2.5rem;
}

.from-user .message-inner p {
    margin: 0.3125rem;
    padding: 5px;
}

.from-user .message-inner:before, .from-user .message-inner:after {
    content: "";
    position: absolute;
}

.from-user .message-inner:before {
    z-index: -2;
    bottom: -0.375rem;
    right: 0;
    height: 0.375rem;
    width: 0.5rem;
    background: #1cb3a0;
}

.from-user .message-inner:after {
    z-index: -1;
    bottom: -0.5rem;
    right: 0;
    height: 0.5rem;
    width: 0.5rem;
    background: #fff;
    border-top-right-radius: 1.25rem;
}

.from-watson .message-inner {
    position: relative;
    border-radius: 1.5625rem;
    color: #323232;
    letter-spacing: 0.015rem;
    line-height: 1.3125rem;
}

.from-watson p {
    margin: 10px;
    padding: 5px;
}

.from-watson p:before {
    content: "";
    background: #31708f;
    border-radius: 5px;
    position: absolute;
    z-index: 2;
    left: 0.4375rem;
    width: 0.3125rem;
    height: 100%;
    line-height: 1.3125rem;
}

#textInput {
    border: none;
    outline: none;
    background: transparent;
    color: #323232;
    letter-spacing: 0.015rem;
    line-height: 1.3125rem;
    height: 2.5rem;
    width: 100%;
    padding-left: 0.125rem;
    margin-bottom: -0.125rem;
    overflow: auto;
}

.inputOutline {
    display: block;
    border-bottom: 0.0625rem solid #aeaeae;
}

@media only screen and (max-width: 1000px) {
    html {
        font-size: 15px;
    }
}

@media only screen and (max-width: 600px) {
    html {
        font-size: 14px;
    }

    .chat-column {
        padding-top: 4rem;
    }
}

.msg_send_btn {
    background: black none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    height: 33px;
    width: 33px;
  }

  .padding-none {
      padding: 0px;
  }

  #box-input {
    margin-bottom: 10px;
  }