<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Conversa</h3>
    </div>
    <div class="panel-body">
        <div class="chat-column">
            <div id="chat">
                <div>
                </div>
            </div>
            <div class="col-xs-12" id="box-input">
                <div class="col-xs-10 padding-none">
                    <label id="labelInput" for="textInput" class="inputOutline">
                        <input id="textInput" class="input responsive-column" autofocus placeholder="Enviar mensagem" type="text">
                    </label>
                </div>
                <div class="col-xs-2 padding-none text-center">
                    <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>