.success-alert {
    background-color: #5cb85c;
    opacity: 1;
    font-weight: bold;
    width: auto;
    height: auto;
}

.error-alert {
    background-color: #F44336;
    opacity: 1;
    font-weight: bold;
    width: auto;
    height: auto;
}

.shadow {
    -webkit-box-shadow: -7px 10px 40px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: -7px 10px 40px -13px rgba(0,0,0,0.75);
    box-shadow: -7px 10px 40px -13px rgba(0,0,0,0.75);
}

.jGrowl-notification .jGrowl-close {
    font-size: 2em;
    margin-top: -0.3em;
}

.jGrowl.top-right {
    right: 0;
    top: 125px;
}