<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Todos os produtos</h3>
    </div>
    <div class="panel-body">
        <% // include ../sliderView/sliderComponent %>
    </div>              
</div>