<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Atividade</h3>
    </div>
    <div class="panel-body" style="padding: 15px">
        <div class="rad-activity-body">
        <div class="rad-list-group group">
            <div class="rad-list-group-item">
                <div class="rad-list-icon icon-shadow rad-bg-danger pull-left"></div>
                <div class="rad-list-content"><strong>Saudação</strong>
                    <div class="md-text"></div>
                </div>
            </div>
            <div class="rad-list-group-item">
                <div class="rad-list-icon icon-shadow rad-bg-danger pull-left"></div>
                <div class="rad-list-content"><strong>Escolha de sabor</strong>
                    <div class="md-text"></div>
                </div>
            </div>
            <div class="rad-list-group-item">
                <div class="rad-list-icon icon-shadow rad-bg-danger pull-left"></div>
                <div class="rad-list-content"><strong>Informação de entrega</strong>
                    <div class="md-text"></div>
                </div>
            </div>
            <div class="rad-list-group-item">
                <div class="rad-list-icon icon-shadow rad-bg-danger pull-left"></div>
                <div class="rad-list-content"><strong>Forma de pagamento</strong>
                    <div class="md-text"></div>
                </div>
            </div>
            <div class="rad-list-group-item">
                <div class="rad-list-icon icon-shadow rad-bg-danger pull-left"></div>
                <div class="rad-list-content"><strong>Confirmação de pedido</strong>
                    <div class="md-text"></div>
                </div>
            </div>
            <div class="rad-list-group-item">
                <div class="rad-list-icon icon-shadow rad-bg-danger pull-left"></div>
                <div class="rad-list-content"><strong>Pedido a caminho</strong>
                    <div class="md-text"></div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>