<div id="add<%=pluralName%>" class="modal fade" style="display: none !important;">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="formAdd<%=pluralName%>">
                <div class="modal-header">
                    <h4 class="modal-title">Adicionar <%=singularName%></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body" id="modalAdd<%=singularName%>">
                    <%for(var i=0; i<propertiesName.length; i++){%>
                        <div class="form-group">
                            <label><%=propertiesName[i]%></label>
                            <% if(properties[i] === 'id'){ %>
                                <input type="text" class="form-control" name="<%=properties[i]%>" id="idAdd<%=singularName%>" value="" readonly>
                            <% } else{ %>  
                                <input type="text" class="form-control" name="<%=properties[i]%>" value="" required>
                            <% } %>
                        </div>
                    <%}%>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                    <input type="submit" class="btn btn-success" value="Adicionar">
                </div>
            </form>
        </div>
    </div>
</div>