<div id="delete<%=pluralName%>" class="modal fade" style="display: none !important;">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="formDelete<%=pluralName%>">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>				
                    <h4 class="modal-title">
                        Deletar <%=singularName%>:
                    </h4>
                </div>
                <div class="modal-body" id="modalDelete<%=singularName%>">					
                    <p>Você tem certeza que deseja realizar a exclusão?</p>
                    <p class="text-warning"><small>Essa ação não pode ser desfeita.</small></p>
                    <div class="form-group">
                        <input type="text" class="form-control" id="inptDelete<%=singularName%>" name="<%=properties[0]%>" required readonly>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-success" value="Excluir">
                </div>
            </form>
        </div>
    </div>
</div>