<div id="edit<%=pluralName%>" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="formEdit<%=pluralName%>">
                <div class="modal-header">				
                    <h4 class="modal-title">Editar <%=singularName%></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body" id="modalEdit<%=singularName%>">
                    <%for(var i=0; i<propertiesName.length; i++){%>
                        <div class="form-group">
                            <label><%=propertiesName[i]%></label>
                            <% if(properties[i] === 'id'){ %>
                                <input type="text" class="form-control edit-input" id="<%=properties[i]%>-<%=singularName%>" name="<%=properties[i]%>" readonly>        
                            <% } else{ %>  
                                <input type="text" class="form-control edit-input" id="<%=properties[i]%>-<%=singularName%>" name="<%=properties[i]%>" required>
                            <% } %>
                        </div>
                    <%}%>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                    <input type="submit" class="btn btn-success" value="Salvar">
                </div>
            </form>
        </div>
    </div>
</div>