<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.4.1/jquery.jgrowl.min.js"></script>
<script src="public/crudView/static/script/alerts.js"></script>
<script src="public/crudView/static/script/main.js"></script>
<script src="public/crudView/static/script/add.js"></script>
<script src="public/crudView/static/script/list.js"></script>
<script src="public/crudView/static/script/listItem.js"></script>
<script src="public/crudView/static/script/update.js"></script>
<script src="public/crudView/static/script/delete.js"></script>