<!DOCTYPE html>
<html lang="pt-br">
<head>
    <% include public/crudView/header %>
</head>
<body>
    <% include DashboardView %>
    <main>
        <section>
            <div class="rad-body-wrapper rad-nav-min">
                <div class="col-xs-12">
                    <div class="table-wrapper panel panel-default">
                        <div class="table-title">
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <h2>Listagem de <b><%=pluralName%></b></h2>
                                </div>
                                <!-- <div class="col-xs-12 col-md-6 div-btn-add">
                                    <a href="#add<%=pluralName%>" class="btn btn-success addAutoCode" data-name='<%=singularName%>' data-toggle="modal">
                                        <i class="material-icons">&#xE147;</i> 
                                        <span>Adicionar <%=singularName%> </span>
                                    </a>
                                </div> -->
                            </div>
                        </div>
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <%for(var i=0; i<propertiesName.length; i++){%>
                                        <th><%=propertiesName[i]%></th>
                                    <%}%>
                                    <!-- <th>Ações</th> -->
                                </tr>
                            </thead>
                            <tbody id="tbody-<%=singularName%>">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>

<!-- More HTML-EJS: -->
<% include public/crudView/add %>
<% include public/crudView/edit %>
<% include public/crudView/delete %>

<!-- Scripts: -->
<script>
    const apiUrlRequest = '<%=urlApi%>';
    const pluralName = '<%=pluralName%>';
    const singularName = '<%=singularName%>';
    const propertiesRoute = '<%=properties%>'.split(',');
</script>

<% include public/crudView/footer %>