<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
<style>
    @import url(https://fonts.googleapis.com/css?family=Roboto+Condensed);
    * {
    box-sizing: border-box;
    }

    body {
    background: #f0f0f0;
    line-height: normal;
    font-size: 16px;
    overflow-Y: scroll;
    font-family: 'Roboto Condensed', "Helvetica Neue",Helvetica,Arial,sans-serif;
    -webkit-font-smoothing: antialiased !important;
    }

    a, a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    }

    a:active {
    color: #fff !important;
    }

    .sm-img {
    height: 30px !important;
    width: 30px !important;
    }

    ::-moz-selection {
    background: #5af;
    color: #fff;
    text-shadow: none;
    }

    ::selection {
    background: #5af;
    color: #fff;
    text-shadow: none;
    }

    .rad-navigation {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: 0 0px 9px 4px rgba(0, 0, 0, 0.1), 0 -5px 2px 2px rgba(0, 0, 0, 0.1);
    background: white;
    z-index: 10000;
    text-align: center;
    }
    .rad-navigation ul {
    margin-bottom: 0;
    }

    .links {
    margin-right: 10px;
    position: relative;
    }
    .links > li {
    list-style: none;
    position: relative;
    margin: 10px;
    display: inline-block;
    }

    .rad-dropmenu-item.active {
    display: block;
    -webkit-animation: flipInX 1s ease;
    }

    .lg-text {
    font-size: 13px;
    font-weight: 600;
    color: #333;
    }

    .sm-text {
    font-size: 11px;
    color: #c6c6c6;
    }

    .md-text {
    font-size: 12px;
    color: #716767;
    padding: 5px;
    }

    .sm-menu {
    min-width: 150px !important;
    }
    .sm-menu > li {
    padding: 10px;
    text-align: left;
    }
    .sm-menu > li i {
    margin: 0 10px 0 0;
    }
    .sm-menu > li > a {
    padding: 10px;
    }

    .rad-dropmenu-item {
    position: absolute;
    right: -6px;
    top: 45px;
    min-width: 250px;
    background: white;
    border: 1px solid #BDBDBD;
    border-top: 5px solid #000000;
    border-radius: 2px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
    display: none;
    }
    .rad-dropmenu-item:before {
    content: "";
    position: absolute;
    border-width: 0 10px 10px 10px;
    border-style: solid;
    border-color: #000000 transparent;
    top: -14px;
    right: 8px;
    }

    .rad-dropmenu-item.rad-settings {
    right: 0 !important;
    left: auto !important;
    }
    .rad-dropmenu-item.rad-settings:before {
    right: 5px !important;
    left: auto !important;
    }
    .rad-dropmenu-item.rad-settings > .rad-notification-item:hover {
    background: #fff !important;
    }
    .rad-dropmenu-item.rad-settings > .rad-notification-item i {
    font-size: 24px;
    }

    .rad-bg-primary {
    background: #1C7EBB;
    }

    .rad-bg-success {
    background: #000000;
    }

    .rad-bg-danger {
    background: #777;
    }

    .rad-txt-warning {
    color: #F98E33;
    }

    .rad-bg-warning {
    background: #F98E33;
    }

    .rad-bg-violet {
    background: #6A55C2;
    }

    .rad-body-wrapper {
    position: absolute;
    left: 230px;
    top: 75px;
    width: auto;
    right: 0;
    transition: all .2s ease-in-out;
    }

    .rad-body-wrapper.rad-nav-min {
    left: 50px;
    }

    @media screen and (min-width: 850px) {
    .rad-top-nav-container {
        padding: 10px;
    }

    .rad-body-wrapper {
        top: 100px;
    }

    .div-btn-add {
        margin: 0px !important;
    }

    .btn-success { 
        float: right !important;
    }
    }
    @media screen and (max-width: 850px) {
    .rad-navigation {
        height: 100px;
    }

    .rad-top-nav-container {
        display: block;
        float: none;
        height: 50px;
        background: white;
    }
    .rad-top-nav-container .links > li > a {
        font-size: 12px;
    }

    .rad-body-wrapper {
        top: 125px;
        position: relative;
    }

    .rad-body-wrapper.rad-nav-min {
        left: 0px;
    }
    }

    @media (max-width: 400px) {
    .bootsp-timeline-badge {
        padding: 0px 10px 0px 5px;  
    }
    }

    .panel {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
    border-radius: 0 !important;
    position: relative;
    -webkit-transition: all .2s linear;
    }
    .panel-body {
    position: relative;
    -webkit-transition: all .2s linear;
    }

    .panel-heading {
    background: white !important;
    border-radius: 0;
    padding: 15px;
    border-bottom: 0 !important;
    }

    .panel-heading .panel-title {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 13px;
    color: #000000;
    }

    .rad-list-group-item {
    margin: 5px 10px 25px 5px;
    }
    .rad-list-group-item:after {
    content: "";
    display: table;
    }

    .rad-chat {
    border: 1px solid rgba(198, 198, 198, 0.5);
    padding: 0 10px;
    border-radius: 2px;
    position: relative;
    }

    .rad-list-group-item.left .rad-chat .sm-text {
    float: right;
    }

    .rad-chat-msg {
    font-size: 14px;
    color: #585f69;
    }

    .rad-list-group-item.right .rad-chat .lg-text {
    float: right;
    }

    .rad-list-icon {
    position: relative;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    line-height: 40px;
    text-align: center;
    color: white;
    top: -5px;
    }

    .rad-list-img {
    border-radius: 100%;
    width: 32px;
    height: 32px;
    }

    .rad-list-group {
    position: relative;
    }

    .rad-list-group.group:before {
    content: "";
    position: absolute;
    background: rgba(198, 198, 198, 0.3);
    top: -20px;
    bottom: -20px;
    left: 25px;
    width: 1px;
    }

    .rad-list-content {
    line-height: 1.3;
    margin-left: 50px;
    }

    .rad-timeline {
    padding: 10px 0;
    position: relative;
    }

    .rad-timeline .rad-timeline-item {
    list-style: none;
    padding: 10px;
    position: relative;
    vertical-align: middle;
    margin: 0px;
    font-size: 14px;
    }
    .rad-timeline .rad-timeline-item .rad-timeline-badge {
    top: 0;
    color: #FFF;
    height: 30px;
    margin: 0px 4px 0px 4px;
    font-size: 12px;
    border-radius: 100%;
    text-align: center;
    line-height: 25px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all .2s easein-out;
    }
    .rad-timeline .rad-timeline-item .rad-timeline-badge span {
    transition: all 200ms linear;
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0;
    position: absolute;
    color: #e6e6e6;
    background: Grey;
    min-width: 70px;
    border-radius: 3px;
    }
    .rad-timeline .rad-timeline-item .rad-timeline-badge span.pull-right {
    right: 35px;
    }
    .rad-timeline .rad-timeline-item .rad-timeline-badge span.pull-left {
    left: 35px;
    }
    .rad-timeline .rad-timeline-item .rad-timeline-badge:hover span {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
    }

    .rad-timeline .rad-timeline-item .rad-timeline-panel:after {
    width: 85%;
    content: "";
    width: 15px;
    height: 15px;
    background: #FFF;
    position: absolute;
    top: 30px;
    right: -8.5px;
    margin-top: -10px;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-left: 1px solid rgba(0, 0, 0, 0.2);
    }
    .rad-timeline .rad-timeline-item:before {
    content: "";
    display: table;
    }
    .rad-timeline .rad-timeline-item:after {
    content: "";
    clear: both;
    display: block;
    overflow: hidden;
    }
    .rad-timeline .rad-timeline-item:first-child {
    margin-top: 20px;
    }
    .rad-timeline .rad-timeline-item .pull-right.rad-timeline-panel {
    background: #e6e6e6;
    margin-right: 10px;
    }
    .rad-timeline .rad-timeline-item .pull-right.rad-timeline-panel:after {
    content: "";
    left: -8.5px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    background: #e6e6e6;
    }

    .rad-timeline-item:before{
    content: "";
    position: absolute;
    border: 1px solid #777;
    left: 10%;
    top: 0;
    height: 100%;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2)
    }

    .border-color:before{
    border: 1px solid red;
    }

    .background-red {
    background-color: red;
    }

    .rad-timeline-footer p {
    display: inline-block;
    font-weight: 600;
    color: #515d6e;
    }
    .rad-timeline-footer p i {
    font-size: 24px;
    color: crimson;
    }

    .panel-body {
    padding: 0px;
    }

    #labelInput {
    display: inline;
    }

    .rad-navigation {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: 0 0px 9px 4px rgba(0, 0, 0, 0.1), 0 -5px 2px 2px rgba(0, 0, 0, 0.1);
    background: white;
    z-index: 10000;
    text-align: center;
    }
    .rad-navigation ul {
    margin-bottom: 0;
    }
    .rad-logo-hidden {
    line-height: 75px;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 22px;
    text-decoration: none;
    color: #222533;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    left: 50%;
    transition: all .2s ease-in-out;
    }
    .rad-logo-container {
    width: 225px;
    text-align: center;
    height: 50px;
    float: left;
    transition: all .2s ease-in-out;
    }
    .rad-toggle-btn,
    .rad-logo {
    text-decoration: none;
    position: relative;
    height: 50px;
    line-height: 50px;
    padding: 0 15px;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    color: #222533;
    display: inline-block;
    }
    .rad-logo i {
    padding-top: 2px;
    vertical-align: middle;
    margin-right: 10px;
    }
    .rad-sidebar {
    z-index: 9999;
    position: fixed;
    font-weight: 600;
    background: white !important;
    width: 225px;
    height: 100vh;
    top: 50px;
    left: 0;
    bottom: 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 2px 4px 8px rgba(0, 0, 0, 0.28);
    transition: all .2s ease-in-out;
    }
    .rad-sidebar li {
    text-align: left;
    height: 45px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: .025em;
    line-height: 1.5;
    }
    .rad-sidebar li a {
    text-decoration: none;
    display: block;
    color: #515d6e;
    }
    .rad-sidebar li a i {
    position: relative;
    width: 45px;
    line-height: 45px;
    text-align: center;
    }
    .rad-sidebar li a i:before {
    z-index: 10;
    position: relative;
    }
    .rad-sidebar li a > span {
    display: inline-block;
    visibility: visible;
    opacity: 1;
    padding-left: 10px;
    -webkit-transition: all .2s ease-in-out .2s;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    text-transform: uppercase;
    font-size: 11px;
    }
    .rad-sidebar li:hover {
    background: #f2f2f2;
    }
    .rad-sidebar li:hover .icon-bg {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    }
    .rad-sidebar li:hover a > i {
    color: white;
    }
    .icon-bg {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    -webkit-transform: translate3d(-43px, 0, 0);
            transform: translate3d(-43px, 0, 0);
    transition: all .2s ease-in-out;
    }
    .rad-logo-container.rad-nav-min {
    -webkit-transform: translate3d(-160px, 0, 0);
            transform: translate3d(-160px, 0, 0);
    }
    .rad-logo-container.rad-nav-min .rad-logo {
    opacity: 0;
    }
    .rad-logo-container.rad-nav-min + .rad-logo-hidden {
    opacity: 1;
    visibility: visible;
    }
    .rad-sidebar.rad-nav-min {
    width: 45px !important;
    }
    .rad-sidebar.rad-nav-min .rad-sidebar-item {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all .1s linear;
    -webkit-transform: translate3d(-200px, 0, 0);
            transform: translate3d(-200px, 0, 0);
    }
    .rad-sidebar.rad-nav-min .icon-bg {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    }
    .rad-sidebar.rad-nav-min i {
    border: 0px;
    color: white;
    transition: all .2s linear;
    }
    .rad-sidebar.rad-nav-min li:hover .icon-bg {
    -webkit-transform: scale(1.2, 1);
            transform: scale(1.2, 1);
    }
    .rad-body-wrapper.rad-nav-min {
    left: 50px;
    }
    .flat-theme .rad-logo {
        color: white;
    }
    .flat-theme .rad-navigation {
    text-align: left;
    }
    .flat-theme .rad-navigation .rad-top-nav-container {
    float: none !important;
    }
    .flat-theme .rad-navigation .rad-top-nav-container .links:last-child {
    float: none !important;
    }
    .flat-theme .rad-navigation .rad-top-nav-container .links:last-child > li > ul.rad-dropmenu-item {
    left: 0;
    }
    .flat-theme .rad-navigation .rad-top-nav-container .links:last-child > li > ul.rad-dropmenu-item:before {
    left: 8px;
        right: 100%;
    }
    .flat-theme .rad-navigation .rad-top-nav-container .links:last-child > li:first-child {
    margin-left: 30px;
    }
    .flat-theme .rad-navigation .rad-top-nav-container .links > li {
    text-align: center;
    }
    .flat-theme .rad-navigation .rad-top-nav-container .links > li > a {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    background: #f6f6f6;
    display: inline-block;
    line-height: 32px;
    }
    .flat-theme .rad-navigation .rad-top-nav-container .links > li:hover > a {
    color: white !important;
    }
    .flat-theme .rad-dropmenu-item {
    border-color: crimson !important;
    }
    .flat-theme .rad-dropmenu-item:before {
    border-color: crimson transparent;
    }
    .flat-theme .rad-logo-container.rad-nav-min {
    -webkit-transform: none;
            transform: none;
    }
    .flat-theme .rad-logo-container.rad-nav-min .rad-logo {
    opacity: 1;
    }
    .flat-theme .rad-logo-container.rad-nav-min + .rad-logo-hidden {
    acity: 0;
    }
    .flat-theme .rad-logo-container {
    background: crimson !important;
    position: relative;
    z-index: 1000;
    }
    .flat-theme .rad-logo-container .rad-toggle-btn {
    color: #fff !important;
    font-size: 14px;
    width: 30px;
    height: 30px;
    display: inline-block;
    position: absolute;
    line-height: 30px;
    text-align: center;
    padding: 0;
    border-radius: 50%;
    right: -15px;
    background: red;
    top: 7.5px;
    transition: all .2s linear;
    }
    .flat-theme .rad-sidebar {
    background: #32323a !important;
    }
    .flat-theme .rad-sidebar li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    }
    .flat-theme .rad-sidebar li:hover {
    background: #28282a !important;
    }
    .flat-theme .rad-sidebar li:hover span {
    color: crimson !important;
    }
    .flat-theme .rad-sidebar li a i {
    color: white;
    }
    .flat-theme .rad-sidebar li a > span {
    color: #aeb2b7 !important;
    -webkit-transition: none;
    }
    .flat-theme.crimson .rad-logo-container {
    background: crimson !important;
    }
    .flat-theme.crimson .rad-sidebar li:hover a > span {
    color: crimson !important;
    }
    .flat-theme.teal .rad-logo-container {
    background: #1fb5ad !important;
    }
    .flat-theme.teal .rad-sidebar li:hover a > span {
    color: #1fb5ad !important;
    }
    .flat-theme.orange .rad-logo-container {
    background: #ff503f !important;
    }
    .flat-theme.orange .rad-sidebar li:hover a > span {
    color: #ff503f !important;
    }
    .flat-theme.purple .rad-logo-container {
    background: rebeccapurple !important;
    }
    .flat-theme.purple .rad-sidebar li:hover a > span {
    color: rebeccapurple !important;
    }
    .flat-theme.purple.sticky .brand-icon,
    .flat-theme.purple.sticky .rad-toggle-btn:hover {
    background: rebeccapurple !important;
    color: #fff !important;
    }
    .rad-bg-twitter {
    background: #55acee;
    }
    .flat-theme.twitter .rad-logo-container {
    background: #55acee !important;
    }
    .flat-theme.twitter .rad-toggle-btn {
    background: #2795e9 !important;
    }
    .flat-theme.twitter .rad-dropmenu-footer,
    .flat-theme.twitter .rad-dropmenu-header {
    background: #2795e9 !important;
    }
    .flat-theme.twitter .links > li:not(.no-color):hover > a {
    background: #6cb7f0 !important;
    }
    .flat-theme.twitter .rad-dropmenu-item {
    border-color: #2795e9 !important;
    }
    .flat-theme.twitter .rad-dropmenu-item:before {
    border-color: #2795e9 transparent;
    }
    .flat-theme.twitter .rad-sidebar li:hover a > span {
    color: #55acee !important;
    }
    .flat-theme.twitter.sticky .brand-icon,
    .flat-theme.twitter.sticky .rad-toggle-btn:hover {
    background: #55acee !important;
    color: #fff !important;
    }

    @media screen and (min-width: 850px) {
    .rad-logo-container {
        height: 75px;
    }
    .rad-logo-container .rad-logo {
        line-height: 75px;
    }
    .rad-logo-container .rad-toggle-btn {
        line-height: 75px;
        height: auto;
    }
    .rad-sidebar {
        top: 75px;
    }
    }

    @media screen and (max-width: 850px) {
    .flat-theme .rad-sidebar {
        position: absolute;
    }
    .flat-theme .rad-navigation {
        position: absolute;
    }
    .flat-theme .rad-navigation .links > li:first-child {
        margin-left: 15px !important;
    }
    .flat-theme.sticky .rad-logo-container {
        z-index: 10000;
    }
    .flat-theme.sticky .rad-logo-container .rad-toggle-btn {
        color: #89949B !important;
        position: fixed;
        right: 120px !important;
        background: #f6f6f6;
        top: 11px;
    }
    .flat-theme.sticky .rad-logo-container .rad-toggle-btn:hover {
        background: crimson;
        color: #fff !important;
    }
    .flat-theme.sticky .rad-navigation {
        height: 50px;
    }
    .flat-theme.sticky .rad-sidebar {
        top: 50px;
        position: fixed;
    }
    .rad-navigation {
        height: 100px;
    }
    .rad-logo-container.rad-nav-min {
        -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
        background: transparent;
    }
    .rad-logo-container.rad-nav-min .rad-logo {
        opacity: 1;
    }
    .rad-logo-container.rad-nav-min + .rad-logo-hidden {
        display: none;
    }
    .rad-logo-container {
        display: block;
        float: none;
        width: 100%;
        border-bottom: 1px solid #F2F2F2;
    }
    .rad-top-nav-container {
        display: block;
        float: none;
        height: 50px;
        background: white;
    }
    .rad-top-nav-container .links > li > a {
        font-size: 12px;
    }
    .rad-menu-badge {
        font-size: 10px;
        min-width: 15px;
        min-height: 15px;
        line-height: 15px;
    }
    .rad-sidebar {
        top: 100px;
    }
    .rad-sidebar.rad-nav-min {
        -webkit-transform: translate3d(-200px, 0, 0);
                transform: translate3d(-200px, 0, 0);
    }
    .rad-body-wrapper.rad-nav-min {
        left: 0px;
    }
    }

    @media screen and (max-width: 850px) {
    .flat-theme.twitter.sticky .rad-toggle-btn {
        background: #fafafa !important;
        color: #89949B !important;
    }
    }

    /* unvisited link */
    a:link {
    color: black;
    }

    /* visited link */
    a:visited {
    color: rgb(29, 25, 25);
    }

    /* mouse over link */
    a:hover {
    color: rgb(29, 25, 25);
    }

    /* selected link */
    a:active {
    color: black;
    }

    .modal-content {
    margin-top: 120px;
    }

    .div-btn-add {
    padding: 0px;
    margin: 10px;
    }

    .table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    padding: 5px;
    font-size: 80%;
    }

    .table>thead>tr>th {
    font-weight: bold;
    }

    .rad-list-group-item {
    opacity: 0.7;
    }
</style>

<section>
    <header>
        <nav class="rad-navigation">
            <div class="rad-logo-container rad-nav-min col-md-12">
                <a href="/"  class="rad-logo">LANCHA AI 
                </a>
                <a href="#" class="rad-toggle-btn pull-right"><i class="fa fa-bars"></i></a>
            </div>
            <div class="col-sm-8 col-md-8">
                <a href="/"  class="rad-logo hidden-xs hidden-sm" style="padding: 10px">LANCHA AI</a>
            </div>
            <div class="rad-top-nav-container  hidden-sm">
                <ul class="pull-right links">
                    <li class="rad-dropdown no-color">
                        <a class="rad-menu-item" href="#">
                            <img class="rad-list-img sm-img" src="https://avatarsed1.serversdev.getgo.com/2205256774854474505_medium.jpg" alt="Foto de Perfil" />
                        </a>
                        <ul class="rad-dropmenu-item sm-menu">
                            <li class="rad-notification-item">
                                <a class="rad-notification-content lg-text" href="#"><i class="fa fa-power-off"></i>Sair</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
</section>

<aside>
    <nav class="rad-sidebar rad-nav-min">
        <ul>
            <li>
                <a href="/" class="inbox">
                    <i class="fa fa-home">
                        <span class="icon-bg rad-bg-success"></span>
                    </i>
                    <span class="rad-sidebar-item">Home</span>
                </a>
            </li>
            <li>
                <a href="/product" class="inbox">
                    <i class="fa fa-cutlery" aria-hidden="true">
                        <span class="icon-bg rad-bg-success"></span>
                    </i>
                    <span class="rad-sidebar-item">Produtos</span>
                </a>
            </li>
            <li>
                <a href="/shoppingCart" class="inbox">
                    <i class="fa fa-cart-plus">
                        <span class="icon-bg rad-bg-success"></span>
                    </i>
                    <span class="rad-sidebar-item">Carrinho</span>
                </a>
            </li>
            <li>
                <a href="/orders" class="inbox">
                    <i class="fa fa-shopping-cart">
                        <span class="icon-bg rad-bg-success"></span>
                    </i>
                    <span class="rad-sidebar-item">Pedidos</span>
                </a>
            </li>
        </ul>
    </nav>
</aside>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>
    $("li.rad-dropdown > a.rad-menu-item").on('click', function(e) {
        e.preventDefault();
        e.stopPropagation();
        $(".rad-dropmenu-item").removeClass("active");
        $(this).next(".rad-dropmenu-item").toggleClass("active");
    });

    $(".rad-notification-item").on("click", function(e) {
        e.stopPropagation();
    });

    $('.rad-sidebar a').on("click", function(e) {
        e.stopPropagation();
    });

    $(".rad-toggle-btn").on('click', function() {
        $(".rad-logo-container").toggleClass("rad-nav-min");
        $(".rad-sidebar").toggleClass("rad-nav-min");
        $(".rad-body-wrapper").toggleClass("rad-nav-min");
    });

    let active = false;
    $(".rad-menu-item").click(function (item) {
        if (!active) {
            active = true;
            $('.rad-dropmenu-item').addClass("active");
        } else {
            active = false;
            $('.rad-dropmenu-item').removeClass("active");
        }
    });
</script>