<!DOCTYPE html>
<html lang="pt-br" >
<head>
	<title>Home | Lancha AI</title>
	<meta charset="utf-8">
	<!-- public/images/icon.png -->
	<link rel="shortcut icon" href="public/images/icon.ico" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css'>
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css'>
	<link rel='stylesheet' href='https://unpkg.com/font-awesome@4.7.0/css/font-awesome.min.css'>
	<link rel="stylesheet" href="./public/homeView/static/chatbot/styles.css">
	<link rel="stylesheet" href="./public/homeView/static/chatbot/slider-style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
	<!-- <link rel='stylesheet' href='http://cdnjs.cloudflare.com/ajax/libs/morris.js/0.5.1/morris.css'> -->
</head>
<body>
	<% include DashboardView %>
  	<main>
		<section>
			<div class="rad-body-wrapper rad-nav-min">
				<div class="container-fluid">
					<div class="col-xs-12 col-sm-8">
						<% include public/chatView/chatComponent %>
					</div>
					<div class="col-xs-12 col-sm-4">
						<% include public/activityView/activityComponent %>
					</div>
				</div>
			</div>
		</section>
	</main>
</body>
</html>

<script>
	const hostApi = '<%=urlApi%>';
	const apiUrlRequestProducts = hostApi;
	const timeOutWatson = 280000;
	
    function refreshWatsonSession() {
        $.ajax({
			url: `${hostApi}watson/refresh-session/`,
            type: 'POST',
            success: function(){
                console.log("Criada nova sessão watson!")
            }
        });
    }
	refreshWatsonSession();

	function refreshWatsonSessionTimeOut() {
		setTimeout(function() {
			refreshWatsonSession();
			refreshWatsonSessionTimeOut();
		}, timeOutWatson);
	}
	refreshWatsonSessionTimeOut();
	
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
<script src="./public/crudView/static/script/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/locale/pt-br.js"></script>
<script src="./public/homeView/static/chatbot/script.js"></script>
<script src="./public/homeView/static/chatbot/slider-script.js"></script>
<script src="./public/homeView/static/chatbot/cep-script.js"></script>
<script src="./public/homeView/static/timeline/script.js"></script>
<script src='https://code.jquery.com/jquery-1.12.4.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js'></script>