<!DOCTYPE html>
<html lang="pt-br">
<head>
    <% include public/crudView/header %>
</head>
<body>
    <% include DashboardView %>
    <main>
        <section>
            <div class="rad-body-wrapper rad-nav-min">
                <div class="col-xs-12">
                    <div class="table-wrapper panel panel-default">
                        <div class="table-title">
                            <div class="row">
                                <div class="col-xs-12 col-md-6">
                                    <h2><b>Carrinho</b></h2>
                                </div>
                                <div class="col-xs-12 col-md-6 div-btn-add">
                                    <a href="#finishedOrder" id="btnFishedOrder" class="btn btn-success addAutoCode" data-name='<%=singularName%>' data-toggle="modal">
                                        <span>Finalizar Pedido</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <table class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Código</th>
                                    <th>Produto(s)</th>
                                    <th>Preço(s)</th>
                                    <th>Quantidade(s)</th>
                                    <th class="fmt-date">Data</th>
                                </tr>
                            </thead>
                            <tbody id="tbody-<%=singularName%>">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
</html>

<!-- More HTML-EJS: -->
<div id="edit<%=pluralName%>" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="formEdit<%=pluralName%>">
                <div class="modal-header">				
                    <h4 class="modal-title">Editar <%=singularName%></h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body" id="modalEdit<%=singularName%>">
                    <%for(var i=0; i<propertiesName.length; i++){%>
                        <div class="form-group">
                            <label><%=propertiesName[i]%></label>
                            <% if(properties[i] === 'id' || properties[i] === 'dateMs' || properties[i] === 'prices'){ %>
                                <input type="text" class="form-control edit-input" id="<%=properties[i]%>-<%=singularName%>" name="<%=properties[i]%>" readonly>        
                            <% } else{ %>  
                                <input type="text" class="form-control edit-input" id="<%=properties[i]%>-<%=singularName%>" name="<%=properties[i]%>" required>
                            <% } %>
                        </div>
                    <%}%>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                    <input type="submit" class="btn btn-success" value="Salvar">
                </div>
            </form>
        </div>
    </div>
</div>

<div id="delete<%=pluralName%>" class="modal fade" style="display: none !important;">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="formDelete<%=pluralName%>">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>				
                    <h4 class="modal-title">
                        Deletar item(ns):
                    </h4>
                </div>
                <div class="modal-body" id="modalDelete<%=singularName%>">					
                    <p>Você tem certeza que deseja realizar a exclusão?</p>
                    <p class="text-warning"><small>Essa ação não pode ser desfeita.</small></p>
                    <div class="form-group">
                        <input type="text" class="form-control" id="inptDelete<%=singularName%>" name="<%=properties[0]%>" required readonly>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancel">
                    <input type="submit" class="btn btn-success" value="Excluir">
                </div>
            </form>
        </div>
    </div>
</div>


<div id="finishedOrder" class="modal fade" style="display: none !important;">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="formFishedOrder">
                <div class="modal-header">
                    <h4 class="modal-title">Finalizar pedido</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group col-xs-12" style="padding:0px;">
                        <label>Forma de pagamento</label>
                        <input type="text" class="form-control hidden" id="orderId" name="id" readonly>
                        <input type="text" class="form-control hidden" id="orderId" value = "Teste" name="client" readonly>
                        <input type="text" class="form-control" id="orderPaymentType" name="paymentType" value="Não informado" readonly>
                    </div>
                    <div class="form-group col-xs-12" style="padding:0px;">
                        <label>Produto(s)</label>
                        <input type="text" class="form-control" id="orderProducts" name="products" value="" readonly>
                    </div>
                    <div class="form-group col-xs-8" style="padding:0px 5px 0px 0px;">
                        <label>CEP</label>
                        <input type="text" class="form-control" id="orderCep" name="cep" value="Não informado" readonly>
                    </div>
                    <div class="form-group col-xs-4" style="padding:0px;">
                        <label>Número</label>
                        <input type="text" class="form-control" id="orderHouseNumber" name="houseNumber" value="Não informado" readonly>
                    </div>
                    <div class="form-group col-xs-6" style="padding:0px 5px 0px 0px;">
                        <label>Total de itens</label>
                        <input type="text" class="form-control" id="orderSumQuantities" name="quantities" value="" readonly>
                    </div>
                    <div class="form-group col-xs-6" style="padding:0px;">
                        <label>Soma dos valores</label>
                        <input type="text" class="form-control" id="orderSumUnitValues" name="unitValue>" value="" readonly>
                    </div>
                    <div class="form-group">
                        <label>Valor total</label>
                        <input type="text" class="form-control" id="totalValue" name="totalValue" value="" readonly>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                    <input type="submit" class="btn btn-success" value="Finalizar">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Scripts: -->
<script>
    const apiUrlRequest = '<%=urlApi%>';
    const apiUrlOrders = '<%=urlOrdersApi%>';
    const apiUrlDeleteCart = '<%=urlApiDeleteAll%>';
    const pluralName = '<%=pluralName%>';
    const singularName = '<%=singularName%>';
    const propertiesRoute = '<%=properties%>'.split(',');

    $('#btnFishedOrder').click(event => setDataFinishedOrder());

    function setDataFinishedOrder() {
        $('#orderId').val('');
        $('#orderProducts').val('');
        $('#orderSumUnitValues').val('');
        $('#orderSumQuantities').val('');
        $('#totalValue').val('');

        let prods = '';
        let pricesStr = '';
        let qttsStr = '';
        getCartItens().then(itens => {
            for (var i=0; i<itens.length; i++){
                let item = itens[i];
                let lastLoop = i+1 >= itens.length; 
                let virg = lastLoop ? '' : ', ';

                prods += item.products_codes + virg;
                pricesStr += item.prices + virg;
                qttsStr += item.quantities + virg;
                $('#orderProducts').val(prods );
                $('#orderSumUnitValues').val(pricesStr);
                $('#orderSumQuantities').val(qttsStr);

                if (lastLoop) {
                    setDataTotalValues();
                }
            }
            $('#orderId').val(generatedSmallCode());
        });
    }

    async function getCartItens() {
        const res = await fetch(apiUrlRequest);
        const data = await res.json();
        return data;
    }

    function deleteCartItens() {
        $.ajax({
            url: apiUrlDeleteCart,
            type: 'DELETE',
            success: data => listAll()
        });
    }  

    function setDataTotalValues() {
        let totalsObj = getTotalItensTotalValuesTotalOrder();
        $('#orderSumUnitValues').val(totalsObj.totalValues);
        $('#orderSumQuantities').val(totalsObj.totalQtt);
        $('#totalValue').val(totalsObj.totalOrder);
    }

    function getTotalItensTotalValuesTotalOrder() {
        let totalQtt = 0;
        let totalValues = 0.0;
        let totalOrder = 0.0;
        let valuesStr = $('#orderSumUnitValues').val().split(',');
        let qttsStr = $('#orderSumQuantities').val().split(',');
        for (let i=0; i<valuesStr.length; i++) {
            let itemValue = getFloatOfCash(valuesStr[i]);
            let itemQtt = parseInt(qttsStr[i]);
            let priceItem = itemValue * itemQtt;
            totalQtt += itemQtt;
            totalValues += itemValue;
            totalOrder += priceItem;
        }
        return {'totalQtt': totalQtt, 'totalValues': totalValues, 'totalOrder': totalOrder};
    }

    function getFloatOfCash(valuesStr) {
        valuesStr = valuesStr.replace( /^\D+/g, '');
        return parseFloat(valuesStr);
    }

    function finishOrder() {   
        $('#formFishedOrder').submit(function(e){
            e.preventDefault();
            $.ajax({
                url: apiUrlOrders,
                type: 'POST',
                data: $('#formFishedOrder').serialize(),
                success: function(msg){
                    showSuccess("Pedido realizado com sucesso!");
                    $('.close').click();
                    cleanForm();
                    deleteCartItens();
                },
                error: function(msg) {
                    showError(msg.responseText);
                }
            });
        });
    }
    finishOrder();

    function cleanForm() {
    $(`#formFishedOrder`).each(function(){
       this.reset();
    });
}

</script>

<% include public/crudView/footer %>